.QGroupBox{
	border: 1px solid #636363;
	border-radius: 5px;
	margin-top: 1ex;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center; 
    padding: 0 3px;
}

.QPushButton{
	border-style: none;
	border: 0px;
	color: #F0F0F0;
	padding: 5px;	
	min-height: 20px;
	border-radius:5px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929); 
}

.QPushButton[focusPolicy="0"] {
	border-style: none;
	border: 0px;
	color: #F0F0F0;
	padding: 0px;	
	min-height: 10px;
	border-radius:3px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929); 
}

.QPushButton:hover{ 
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #636363, stop:1 #575757);
}

.QPushButton:pressed{ 
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929);
}

/*QPushButton#btnMenu,QPushButton#btnMenu_Min,QPushButton#btnMenu_Max,QPushButton#btnMenu_Close{
	border-radius:0px;
	color: #F0F0F0;
	background-color:rgba(0,0,0,0);
	border-style:none;
}

QPushButton#btnMenu:hover,QPushButton#btnMenu_Min:hover,QPushButton#btnMenu_Max:hover{
	background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(25, 134, 199, 0), stop:1 #636363);
}

QPushButton#btnMenu_Close:hover{
	background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(238, 0, 0, 128), stop:1 rgba(238, 44, 44, 255));
}*/

QToolTip {
    border: 2px solid green;
    border-radius: 2px;
    padding: 2px;
    color: black;
    background-color: rgb(255, 255, 191);
}

QCheckBox {
	spacing: 2px; 
}

QCheckBox::indicator {
	width: 20px;
	height: 20px;
}

QCheckBox::indicator:unchecked {
	image: url(:/styles/checkbox_unchecked.png);
}

QCheckBox::indicator:checked {
	image: url(:/styles/checkbox_checked.png); 
}

QRadioButton {
	spacing: 2px;
}

QRadioButton::indicator {
	width: 15px; 
	height: 15px; 
}

QRadioButton::indicator::unchecked {
	image: url(:/styles/radio_normal.png); 
}

QRadioButton::indicator::checked {
	image: url(:/styles/radio_selected.png); 
}

QComboBox,QDateEdit,QSpinBox{
	border-radius: 3px;
	padding: 1px 15px 1px 5px;
	border: 1px solid #50A3F0;
}

QSpinBox::up-arrow,QDateEdit::up-arrow {
	image: url(:/styles/arrow-up.png); 
}

QComboBox::down-arrow,QDateEdit::down-arrow,QSpinBox::down-arrow {
	image: url(:/styles/arrow-down.png); 
}

QDateEdit::up-button,QSpinBox::up-button {
	subcontrol-origin: border;
	subcontrol-position: top right;
	width: 15px; 
	border-left-width: 1px;
	border-left-style: solid;
	border-top-right-radius: 3px;
	border-left-color: #636363;
}

QComboBox::drop-down,QDateEdit::down-button,QSpinBox::down-button{
	subcontrol-origin: border;
	subcontrol-position: bottom right;
	width: 15px; 
	border-left-width: 1px;
	border-left-style: solid;
	border-bottom-right-radius: 3px;
	border-left-color: #636363;
	border-top-width: 0;
}

QMenuBar {
     background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 lightgray, stop:1 darkgray);
 }

 QMenuBar::item {
     spacing: 3px; 
     padding: 1px 4px;
     background: transparent;
     border-radius: 4px;
 }

 QMenuBar::item:selected { 
     background: #a8a8a8;
 }

 QMenuBar::item:pressed {
     background: #888888;
 }

QMenu {
	background-color:AliceBlue;
	margin: 2px;
}

QMenu::item {	
	padding: 2px 20px 2px 20px;
}

QMenu::indicator {
	width: 13px;
	height: 13px;
}

QMenu::item:selected {
	color: #F0F0F0;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #0F7DBE, stop:1 #1582C3); 
}

QMenu::separator {
	height: 1px;
	background: #50A3F0;
}

QProgressBar {
	border-radius: 5px;
	text-align: center;
	border: 1px solid #636363;
}

QProgressBar::chunk {
	width: 5px; 
	margin: 0.5px;
	background-color: #4D4D4D;
}

QScrollBar:horizontal {
	height:10px; 
	background-color:rgba(0,0,0,0%); 
	padding-left:10px; padding-right:10px;
}

QScrollBar:vertical {
	width:10px; 
	background-color:rgba(0,0,0,0%); 
	padding-top:10px; padding-bottom:10px;
}

QScrollBar::handle:vertical {
	width:10px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #636363, stop:1 #575757); 
}

QScrollBar::handle:horizontal {
	height:10px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #636363, stop:1 #575757);  
}

QScrollBar::handle:vertical:hover {
	width:10px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929); 
}

QScrollBar::handle:horizontal:hover {
	height:10px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929);  
}

QScrollBar::add-line:vertical {
	height:10px;
	width:10px;
	subcontrol-position: bottom; 
	subcontrol-origin: margin;
	border-image:url(:/styles/add-line_vertical.png);
}

QScrollBar::add-line:horizontal {
	height:10px;
	width:10px;
	subcontrol-position: right;
	subcontrol-origin: margin;
	border-image:url(:/styles/add-line_horizontal.png);
}

QScrollBar::sub-line:vertical {
	height:10px;
	width:10px;
	subcontrol-position: top; 
	subcontrol-origin: margin;
	border-image:url(:/styles/sub-line_vertical.png);
}

QScrollBar::sub-line:horizontal {
	height:10px;
	width:10px;
	subcontrol-position: left;
	subcontrol-origin: margin;
	border-image:url(:/styles/sub-line_horizontal.png);
}

QScrollBar::add-page:vertical,QScrollBar::sub-page:vertical {
	width:10px;
	background: #C0C0C0;
}

QScrollBar::add-page:horizontal,QScrollBar::sub-page:horizontal {
	height:10px;
	background: #C0C0C0;
}

QScrollArea {
	border: 0px ; 
}

QHeaderView::section {
	padding:3px;
	margin:0px;
	color:#F0F0F0;
	border: 1px solid #F0F0F0;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #636363, stop:1 #575757);
}

/*MyMdiSubWindow {
        background-color: rgb(207, 230, 237);
}*/

QDialog QTableView {
        background-color: #FFFFF0;
}

QLineEdit {
	border: 1px solid #636363;
	border-radius: 5px;
	padding: 2px;
	background: none;
	selection-background-color: #4D4D4D;
}

QComboBox:editable {
     background: white;
 }

QLineEdit[echoMode="2"] { 
	lineedit-password-character: 9679; 
}

QMainWindow::separator {
	background: gray
	width: 5px; 
	height: 5px; 
}

QMainWindow::separator:hover {
 	background: black;
}
